a {
  cursor: pointer;
  color: #404040;
  text-decoration: none!important;
  font-weight: normal;
}

/* function */
.f-cb:after,.f-cbli li:after{display:block;clear:both;visibility:hidden;height:0;overflow:hidden;content:".";}
.f-cb,.f-cbli li{zoom:1;}
.f-ib{display:inline-block;*display:inline;*zoom:1;}
.f-dn{display:none;}
.f-db{display:block;}

.f-fl{float:left;}
.f-fr{float:right;}
.f-pr{position:relative;}
.f-prz{position:relative;zoom:1;}
.f-oh{overflow:hidden;}
.f-oa{overflow: auto;}
.f-ff0{font-family:arial,'\5b8b\4f53';}
.f-ff1{font-family:"Microsoft YaHei",'\5fae\8f6f\96c5\9ed1',arial,'\5b8b\4f53';}
.f-fs1{font-size:12px;}
.f-fs2{font-size:14px;}
.f-fwn{font-weight:normal;}
.f-fwb{font-weight:bold;}
.f-tal{text-align:left;}
.f-tac{text-align:center;}
.f-tar{text-align:right;}
.f-taj{text-align:justify;text-justify:inter-ideograph;}
.f-vam,.f-vama *{vertical-align:middle;}
.f-wsn{word-wrap:normal;white-space:nowrap;}
.f-pre{overflow:hidden;text-align:left;white-space:pre-wrap;word-wrap:break-word;word-break:break-all;}
.f-wwb{white-space:normal;word-wrap:break-word;word-break:break-all;}
.f-ti{overflow:hidden;text-indent:-30000px;}
.f-ti2{text-indent:2em;}
.f-lhn{line-height:normal;}
.f-tdu,.f-tdu:hover{text-decoration:underline;}
.f-tdn,.f-tdn:hover{text-decoration:none;}
.f-toe{overflow:hidden;word-wrap:normal;white-space:nowrap;text-overflow:ellipsis;}
.f-csp{cursor:pointer;}
.f-csd{cursor:default;}
.f-csh{cursor:help;}
.f-csm{cursor:move;}
.f-cs-wr{cursor:w-resize;}
.f-usn{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;}
.f-vat{vertical-align:top;}
.f-w-full{width: 100%;}
.f-h-full{height: 100%;}

.f-dflex{display: flex;}
.f-flex-auto{flex: auto;}
.f-flex-center{display: flex; justify-content: center;}
.f-m-0{margin: 0 !important;}
.f-m-l-0{margin-left: 0 !important;}
.f-m-r-0{margin-right: 0 !important;}
.f-p-0{padding: 0 !important;}
.f-p-l-0{padding-left: 0 !important;}
.f-p-r-0{padding-right: 0 !important;}
.f-m-t-5{margin-top: 5px;}
.f-m-t-10{margin-top: 10px;}
.f-m-t-15{margin-top: 15px;}
.f-m-t-20{margin-top: 20px;}
.f-m-r-5{margin-right: 5px;}
.f-m-r-10{margin-right: 10px;}
.f-m-r-15{margin-right: 15px;}
.f-m-r-20{margin-right: 20px;}
.f-m-r-30{margin-right: 30px;}
.f-m-l-5{margin-left: 5px;}
.f-m-l-10{margin-left: 10px;}
.f-m-l-20{margin-left: 20px;}
.f-m-b-5{margin-bottom: 5px;}
.f-m-b-10{margin-bottom: 10px;}
.f-m-b-20{margin-bottom: 20px;}
.f-p-5{padding: 5px 0;}
.f-p-10{padding: 10px;}
.f-p-20{padding: 20px;}
.f-p-t-10{padding-top: 10px;}
.f-p-b-10{padding-bottom: 10px;}
.f-p-l-10{padding-left: 10px;}
.f-p-r-10{padding-right: 10px;}
.f-p-l-20{padding-left: 20px;}
.f-p-r-20{padding-right: 20px;}

.f-fs-10{font-size: 10px;}
.f-fs-11{font-size: 11px;}
.f-fs-12{font-size: 12px;}
.f-fs-13{font-size: 13px;}
.f-fs-14{font-size: 14px;}
.f-fs-15{font-size: 15px;}
.f-fs-16{font-size: 16px;}
.f-fs-18{font-size: 18px;}
.f-fs-20{font-size: 20px;}
.f-fs-22{font-size: 22px;}
.f-fs-30{font-size: 30px;}
.f-box-sizing-border{box-sizing: border-box;}

.f-b-t-0{border-top: none !important;}
.f-b-b-0{border-bottom: none !important;}
