//滚动条
body, .beautify-scrollbar,
.el-table__body-wrapper{
  &::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
    border-radius: 5px;
    background-color: #FEFEFE;
  }
  &::-webkit-scrollbar{
    width: 7px;
    height: 8px !important;
    background-color: #FEFEFE;
  }
  &::-webkit-scrollbar-thumb{
    border-radius: 8px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.1);
    background-color: #F5F5F5;
  }
}
// 重置
body{
  margin: 0 !important;
  min-height: 100vh;
  min-width: 100vw;
  background: transparent;
  font-size: 14px;
  color: #666;
  font-family: "Microsoft YaHei", "微软雅黑", "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB",Arial,sans-serif;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

.g-doc{
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  position: relative;
  background: #fff;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.g-bd{
  flex: auto;
  padding-bottom: 40px;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  .g-side-bar{
    flex: none;
    width: 65px;
  }
  .g-main{
    flex: auto;
    display: flex;
    flex-direction: column;
    width: calc(100% - 60px);
  }
  .g-container{
    width: 100%;
    height: calc(100% - 65px);
    overflow: hidden;
  }
}

.g-ft{
  flex: none;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  flex-basis: 40px;
}

.m-tab-info{
  .el-tabs__content{
    height: calc(100% - 62px) !important;
  }
  .el-tab-pane{
    height: 100%;
  }
}

.el-dialog {
  margin-top: 0px !important;
  top: 50%;
  transform: translateY(-50%);
  .el-dialog__body {
    padding: 20px;
  }
}
.el-dropdown-menu__item{
  padding: 0px !important;
}
.el-dropdown-menu__item > div{
  padding: 0 15px;
}
.el-table .cell {
  padding-left: 5px;
  padding-right: 5px;
}
.el-button--primary {
  background-color: #4191E3;
  border: #4191E3;
}
.el-button--primary:focus,
.el-button--primary:hover {
  background-color: #409EFF;
  border: #409EFF;
}
.el-message-box{
  backface-visibility: visible;
  -webkit-backface-visibility: visible;
}
.dlg-word-report {
  .el-form-item {
    display: inline-block;
    width: 50%;
    // margin-bottom: 5px;
    label {
      font-size: 13px;
      line-height: 20px;
      vertical-align: middle;
      display: inline-block;
    }
    .el-form-item__content {
      display: inline-block;
      width: calc(100% - 110px);
      vertical-align: middle;
    }
  }
  .el-form--inline .el-form-item {
    margin-right: 0px;
  }
  .desc-item {
    width: 100%;
  }
}
.login-dialog {
  z-index: 3000 !important;
}
// 皮肤
.s-fc-ccc{color: #ccc;}
.s-fc-333{color: #333;}
.s-fc-666{color: #666;}
.s-fc-999{color: #999;}
.s-fc-fff{color: #fff;}
.s-fc-link{color: #20a0ff;}
.s-fc-success{color: #13CE66;}
.s-fc-warning{color: #F7BA2A;}
.s-fc-danger{color: #FF7054;}
.s-fc-primary{color: #4191E3;}
.s-fc-E3EFF8{color: #E3EFF8;}
.s-fc-5BB27C{color: #5BB27C;}
.s-bgc-fff{background-color: #fff;}
.s-bg-ECF5FF{background: #ECF5FF;}
.s-bgc-warning, .s-bgc-warning *{
  background-color: #f7ba2a;
  color: #fff;
}
.s-bgc-danger, .s-bgc-danger *{
  background-color: #ff4949;
  color: #fff;
}
//取消双击选中
.u-s-n{
  user-select: none;
}
.loading{
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-left: 5px;
  border-radius: 50%;
  border: 1px solid #ccc;
  border-top: none;
  animation: spin 1.1s infinite linear;
}
@keyframes spin {
  0% {transform:rotate(-360deg);}
  100% {transform:rotate(0deg);}
}
